extends layout

block content
  header
    h1.selected.crime.officers
      | Crime &amp; Officers
    h1.wealth.officers
      | Wealth &amp; Officers
    h1.crime.wealth
      | Crime &amp; Wealth
    
  script(src="javascripts/index.js")