extends layout

block content
  link(rel='stylesheet', href='/stylesheets/reviews.css')
  div.graph
    header
      div.title 
        | Wurstküche - Arts District, Downtown
      h1.selected.seasonal
        | Seasonal Ratings
      h1.sentiment
        | Text Sentiment Score
      h1.wordmap
        | Word Map
  img(src="images/Loading1.gif").loader
  a.fbi(href='/')
    | FBI Data Graphs
  script(src="javascripts/d3.cloud.js")
  script(src="javascripts/reviews.js")