header div.title {
  font-size: 30px;
  margin-left: 13px;
}

.dot {
  stroke: #969696;
}

.loader {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 150px;
  top: 150px;
}
.loader.hidden {
  visibility: hidden;
}